<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL Shortener</title>
</head>
<body>
  <% include partials/_header %>
  <p> Short URL:  <%= shortURL %> </p>

  <form method="POST" action="/urls/<%= shortURL %>">
    <input type="text" name="URL" value="<%= urls[shortURL] %>"/>
    <button type='submit'> Edit </button>
  </form>




</body>
</html>